html {
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  text-decoration: none;
  margin: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
}
::-webkit-scrollbar {
  /* chrome based */
  width: 0px; /* ширина scrollbar'a */
  background: transparent; /* опционально */
}
p {
  margin-top: 30px;
  margin-bottom: 30px;
}

.h2-standart {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}
main {
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: -50px;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.3);
  margin-left: 100px;
  margin-right: 100px;
}
body {
  color: rgb(226, 226, 226);
  background-image: url(https://krot.info/uploads/posts/2020-01/1579273019_9-25.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

mark {
  background-color: #fff;
}
.main-img {
  transition: 0.2s ease;
  cursor: pointer;
}
.main-img:hover {
  box-shadow: 1px 1px #b2b9b2, 2px 2px #b2b9b2, 3px 3px#B2B9B2, 4px 4px #b2b9b2,
    5px 5px #b2b9b2, 6px 6px #b2b9b2, 7px 7px #b2b9b2;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}
.div {
  height: 4500px;
  display: block;
  margin: 50px;
  margin-bottom: 0;
}
.hr_top {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  margin-bottom: 25px;
}
.anchor_svg {
  transition: 0.3s ease;
  margin-bottom: 50px;
  margin-right: 25px;
  bottom: 0;
  right: 0;
  position: fixed;
  cursor: pointer;
  height: 50px;
  width: 50px;
  opacity: 25%;
  display: inline-block;
  border: 2px solid transparent;
  font-size: 16px;
  color: #fff;
  padding: 2px;
  border-radius: 50%;
}
.anchor_svg:hover {
  border-radius: 50%;
  border: 2px solid #000;
  transition: border 0.3s ease 0s;
  opacity: 100%;
}
#antonie_margin_top {
  text-align: center;
  padding-top: 20px;
}
.p_align {
  text-align: center;
}
.li {
  margin: 25px 0 0 0;
  display: inline-flex;
  list-style-type: none;
}
.nav {
  margin: -3px 0 0 350px;
  position: relative;
  text-align: center;
  justify-content: center;
}
.ssilka {
  border-radius: 20px;
  border: 1px solid transparent;
  border-color: transparent;
  padding-right: 20px;
  padding-left: 20px;
  text-decoration: none;
  color: rgb(226, 226, 226);
  transition: 0.2s;
}
.ssilka:hover {
  border-radius: 20px;
  border: 1px solid;
  background-color: #fff;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  text-decoration: none;
  border-color: transparent;
  color: #000;
  transition: 0.2s;
}
.hr_bottom {
  margin-top: 90px;
}
.header {
  z-index: 1;
  display: block;
  position: sticky;
  top: 0;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 70px;
  background: #4c767c;
}
.header-container {
  position: relative;
  width: 1000px;
  height: 100%;

  display: block;
  margin: 0 auto;
}
.logo-container h2 {
  transition: 0.2s;
  font-weight: 400;
  position: absolute;
  margin: 20px 0 0 20px;
}
.logo-container h2 span {
  transition: 0.3s;
  font-weight: 900;
  margin: 0 0 0 2px;
}
